* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.5rem;
}

:root {
    --background_header: #255ee9;
    --violet: rgb(114 137 218);
    --background_darkgrey:  rgb(35 39 42);
    --background_grey: rgb(246 246 246);
}

.flex {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--background_header);
    padding: 1em 0;
}

.head {
    justify-content: space-between;
    align-items: center;
}

.head > div {
    width: 20%;
    padding: 0 1em;
}

.head > div:nth-child(2) {
    flex-grow: 1;
}

.center_body {
    width: 75%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    font-size: 1rem;
}

.login {
    text-align: right;
}

.button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 2em;
    padding: .5em 1em;
}

.button_violet {
    color: white;
    background-color: var(--violet);
}

.button_download {
    border-radius: 2em;
    padding: .7em 1em;
}

.button_open_discord {
    border-radius: 2em;
    width: 15em;
    background-color: black;
    color: white;
    padding: .7em 1em;
}

.link_header {
    justify-content: center;
    font-size: 1.1rem;
}

.link_header > li > a {
    margin: 0 1em;
}

.sub_header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sub_header > div {
    width: 55%;
    margin: 0 auto;
    padding: 6em 0;
    text-align: center;
}

.sub_header > div > * {
    margin: 1em 1em;
}

h1 {
    font-size: 3rem;
}

main {
    padding-top: 4em;
}

main > div {
    padding: 4em 0;
}

.major {
    width: 60%;
    text-align: right;
}

.minor {
    width: 40%;
    text-align: left;
    padding: 3em;
    padding-top: 1.5em;
    color: black;
}

.subtitle {
    font-size: 3rem;
    font-weight: 700;
}

.minor > p {
    margin-top: 2em;
}

.big {
    text-align: center;
    color: black;
}

.big > p {
    margin-top: 2em;
}

.little_title {
    width: 40%;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 700;
    padding: 1em;
}

.language {
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 1.5em 0;
}

.flag {
    width: 10%;
    vertical-align: middle;
}

.color_violet {
    color: var(--violet);
}


.footer {
    background-color: var(--background_darkgrey);
    padding-top: 4em;
    padding-bottom: 2em;
}

.footer > div > div {
    width: calc(100% / 6);
}

#footer_major {
    padding: 1em;
    flex-grow: 1;
}

#footer_major i {
    margin-right: .6em;
}

.footer_list li {
    margin: 1.8em 0;
}

footer {
    background-color: var(--background_darkgrey);
    padding-top: 1.5em;
    padding-bottom: 3em;
}

footer > div {
    border-top: 1px solid var(--violet);
    padding: 1em 0;
    justify-content: space-between;
}

.background_grey {
    background-color: var(--background_grey);
}

.little_title::after {
    display: block;
    content: "";
    margin: 1em 0;
}